
<p>hotel works!</p>



<form [formGroup]="hotelForm" (ngSubmit)="ajouter()">
  
  <!-- angular Mat i-->
  <mat-form-field appearance="standard">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Ex. Imperator" formControlName="nomHotel" >
  </mat-form-field>

  <!-- angular Mat i-->
  <mat-form-field appearance="standard">
    <mat-label>Ville</mat-label>
    <input matInput placeholder="Ex.  Toulouse" formControlName="adresseHotel" >
  </mat-form-field>

   <!-- angular Mat i-->
   <mat-form-field appearance="standard">
    <mat-label>Notes</mat-label>
    <input matInput placeholder="Ex. 4" formControlName="nbrEtoiles">
  </mat-form-field>

   <!-- angular Mat i-->
   <mat-form-field appearance="standard">
    <mat-label>Prix</mat-label>
    <input matInput placeholder="Ex. 250" formControlName="prixNuit" >
  </mat-form-field>
  
  <!-- Button angular Mat-->
  <button  type="submit" mat-raised-button color="primary">
    <mat-icon>assignment_returned</mat-icon>
  </button>
 

</form>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="hotels">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let hotel"> {{hotel.idHotel}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let hotel"> {{hotel.nomHotel}} </td>
      </ng-container>

       <!-- Adresse Column -->
       <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef> Adress </th>
        <td mat-cell *matCellDef="let hotel"> {{hotel.adresseHotel}} </td>
      </ng-container>

       <!-- Stars Column -->
       <ng-container matColumnDef="etoiles">
        <th mat-header-cell *matHeaderCellDef> Notes </th>
        <td mat-cell *matCellDef="let hotel"> {{hotel.nbrEtoiles}} </td>
      </ng-container>

       <!-- Price  Column -->
       <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix</th>
        <td mat-cell *matCellDef="let hotel">{{hotel.prixNuit}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Effacer </th>
        <td mat-cell *matCellDef="let hotel"> 

          <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="supprimer(hotel.idHotel)">
            <mat-icon>delete</mat-icon>
          </button>
          
        </td>
      </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

  

